*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 
   background:url(pics/pic3.jpg)
}


.clock{
    width: 550px;
    height: 150px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 10%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.clock div{
    position: relative;
    background-color: #b836fe;
    height: 70%;
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 40px;
    color: #202020;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    letter-spacing: 3px;
}
.clock span{
    font-weight: bolder;
    font-size: 60px;
    color: #060606;
}
